
<section class="intro">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="grey text-center">About JV Matchup</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact" style="background:url('images/contact-background.jpg');">
    <div class="contact-wrapper">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-10">
                        <div id="contact-slider">
                            <!-- Contact details -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <div class="bio">
                                            <h3>// ABOUT</h3>
                                            <p></p>
                                        </div>
                                        <ul class="bioextra">
                                            <li>
                                                <strong>About Us</strong>
                                                <i>JV Matchup</i>
                                            </li>
                                            <li>
                                                <strong>Additional Context</strong>
                                                <i>Make money by partnering with us </i>
                                            </li>
                                            <li>
                                                <strong>History</strong>
                                                <i>In business since.....</i>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <ng-include src="'js/views/contactSide.html'"></ng-include>
                                    <ng-include src="'js/views/socialFooter.html'"></ng-include>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="credits">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title">MADE BY <a class="hovercolor" href="http://csiportals.com">CSI PORTALS</a> &copy;&nbsp;2015.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title-link">
                                <a class="hovercolor" href="javascript:;">Contact</a> / <a class="hovercolor" href="javascript:;">Press</a> / <a class="hovercolor" href="blog.html">Blog</a> / <a class="hovercolor" href="javascript:;">Terms</a>
                            </p>
                        </div>
                    </div>
                    <div class="scroll-up">
                        <a href="#home-slide"><i class="icon-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


