  


<section class="intro">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="grey text-center">Purchase access to JV Matchup</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact" style="background:url('images/contact-background.jpg');">
    <a href="#register-form"></a>
    <div class="contact-wrapper">
        <div class="container">
            <div class="wrapper">
                <form class="contact-form" ng-submit="submitPurchaseForm()" novalidate="" id="contactForm">
                    <div class="row">
                        <!--<div class="col-lg-2">
                            <div class="bio"><h3>Affiliate</h3></div>
                            <p>
                                Do so many fun things as an affiliate
                            </p>
                            <input type="checkbox" ng-model="user.Affiliate" />
                            <br /><br />
                            <div class="bio"><h3>Marketer</h3></div>
                            <i class="fa fa-check  fa-3"></i>
                            <p>
                                Do so many fun things as a marketer
                            </p>
                            <input type="checkbox" ng-model="user.Marketer" />
                            <br/><br />
                            <button class="button button-white-side">Sign up</button>
                        </div>-->

                        <div class="col-lg-10">
                            <div id="contact-slider">

                                <!-- Contact details -->
                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="col-lg-12">
                                            <div class="col-lg-12">
                                                <div class="bio">
                                                    <h3>// Your JV Matchup Account</h3>
                                                    <p></p>
                                                </div>
                                                <ul class="bioextra">
                                                    <li>
                                                        <strong>User Id</strong>
                                                        <i>{{account.UserId}}</i>
                                                    </li>
                                                    <li>
                                                        <strong>Email</strong>
                                                        <i>{{account.Email}}</i>
                                                    </li>
                                                    <li>
                                                        <strong>Phone</strong>
                                                        <i>{{account.PhoneNumber}}</i>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-lg-12">
                                        <ng-include src="'js/views/contactSide.html'"></ng-include>
                                        <ng-include src="'js/views/socialFooter.html'"></ng-include>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="credits">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title">MADE BY <a class="hovercolor" href="http://csiportals.com">CSI PORTALS</a> &copy;&nbsp;2015.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title-link">
                                <a class="hovercolor" href="javascript:;">Contact</a> / <a class="hovercolor" href="javascript:;">Press</a> / <a class="hovercolor" href="blog.html">Blog</a> / <a class="hovercolor" href="javascript:;">Terms</a>
                            </p>
                        </div>
                    </div>
                    <div class="scroll-up">
                        <a href="#home-slide"><i class="icon-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

             