<section class="intro">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="grey text-center">Your Account</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact" style="background:url('images/contact-background.jpg');">
    <a href="#register-form"></a>
    <div class="contact-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div id="contact-slider">

                        <!-- Contact details -->
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="bio">
                                    <h3>// Your JV Matchup Account</h3>
                                    <p></p>
                                </div>
                                <ul class="bioextra">
                                    <li>
                                        <strong>Name</strong>
                                        <i>{{user.FullName}}</i>
                                    </li>
                                    <li>
                                        <strong>User Name</strong>
                                        <i>{{user.UserName}}</i>
                                    </li>
                                    <li>
                                        <strong>Skype Handle</strong>
                                        <i>{{user.SkypeHandle}}</i>
                                    </li>
                                    <li>
                                        <strong>Remining Credits</strong>
                                        <i>{{user.Credits}}</i>
                                    </li>
                                    <li>
                                        <strong>Email</strong>
                                        <i>{{user.Email}}</i>
                                    </li>
                                    <li>
                                        <strong>Phone</strong>
                                        <i>{{user.PhoneNumber}}</i>
                                    </li>
                                    <li>
                                        <strong>Individual Description</strong>
                                        <i>{{user.IndividualDescription}}</i>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ng-include src="'js/views/socialFooterWide.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="credits">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title">MADE BY <a class="hovercolor" href="http://csiportals.com">CSI PORTALS</a> &copy;&nbsp;2015.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title-link">
                                <a class="hovercolor" href="javascript:;">Contact</a> / <a class="hovercolor" href="javascript:;">Press</a> / <a class="hovercolor" href="blog.html">Blog</a> / <a class="hovercolor" href="javascript:;">Terms</a>
                            </p>
                        </div>
                    </div>
                    <div class="scroll-up">
                        <a href="#home-slide"><i class="icon-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

