<br />
<div class="row">
    <div class="col-lg-6">
        <h2 class="post-title">
            Filter Affiliates By Category
        </h2>
        <br />


    </div>
    <br />
    <div class="col-lg-6">
        <select class="form-control" ng-model="affiliateCategory" ng-change="filterAffiliates(this)">
            <option value="All">All</option>
            <option value="Internet Marketing">Internet Marketing</option>
            <option value="Personal Development">Personal Development</option>
            <option value="Health and Wellness">Health and Wellness</option>
            <option value="Business Opportunity">Business Opportunity</option>
            <option value="Weight Loss">Weight Loss</option>
            <option value="Dating and Relationships">Dating and Relationships</option>
            <option value="Women's Health">Women's Health</option>
            <option value="Personal Finance">Personal Finance</option>
            <option value="Investing and Trading">Investing and Trading</option>
            <option value="Technology">Technology</option>
            <option value="Beauty">Beauty</option>
            <option value="Survival">Survival</option>
            <option value="Woodworking">Woodworking</option>
        </select>
        <br />

    </div>
</div>
<div class="col-lg-12" ng-repeat="a in resources.filteredAffiliates">
    <article class="post">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="post-title">
                    <a class="hovercolor">{{a.CategoryDescription}} Affiliate</a>
                </h1>
            </div>

        </div>
        <div class="post_excerpt">
            {{a.IndividualDescription}}
            <br />
            <div ng-click="revealUser(a.UserId, $index)">
                <br />
                <button class="button black-border">Unlock This Affiliate</button>&nbsp;<span>{{unlockAffiliateMessages[$index]}}</span>
            </div>
        </div>

    </article>
</div>

