<div class="auth-container">
    <div class="scrollable">
        <div class="scrollable-content">
            
            <!-- WELCOME SCREEN -->
            <div ng-show="authStep===1">
                <div class="wrap">
                    <h2>Premise Health</h2>
                    <p>Stay connected to your employer's Premise Health onsite health services. Schedule appointments, refill meds, and send messages to your providers from your mobile devices. </p>
                    <p>To connect your mobile app, you'll need to get an activation code from your employer's web app or request one be emailed to you.</p>
                    
                    <button class="btn btn-primary request" ng-click="needAuthCode(true)">Email my code</button>
                    <div class="text-center" style='padding-top:20px;'>- or -</div>
                    <button class="btn btn-primary request" ng-click="needAuthCode(false)">I have a code</button>
                    
                </div>
            </div>
            
            <!-- ID VERIFICATION SCREEN -->
            <div ng-show="authStep===2">
                <div class="submenu clearfix">
                    <ul class="clearfix">
                        <li><a ng-click="authStep=1;"  class="back-button active"></a></li>
                    </ul>
                </div>
                <div class="auth-code">
                    <h3>Request an activation code</h3>
                    <span class="sm">Enter your corporate email</span>
                    <input type='email' maxlength="75" ng-model="signup.email" />
                </div>
                
                <div class="auth-code">
                    <span class="sm">Enter your date of birth</span>
                    <input bs-form-control type='date' ng-maxlength="20" ng-minlength="10" ng-model="signup.dob" label="" />
                </div>
                <div class="auth-code">
                    <span class="sm">Enter the last 4 digits of your SSN</span>
                    <input type='password' pattern="[0-9]*" inputmode="numeric" maxlength="4" minlength="4" ng-model="signup.ssn" />
                </div>
                <button class="btn btn-primary request" ng-click="requestAuthCode()" ng-disabled="requestingAuthCode || signup.ssn.length < 4 || signup.dob.length<9 || !signup.email || signup.email.length === 0">
                    <span ng-show="!requestingAuthCode">Request my code</span>
                    <span ng-show="requestingAuthCode">Emailing code...</span>
                </button>
                <div class="alert">{{signup.result}}</div>
            </div>
            
            <!-- ACTIVATION CODE SCREEN -->
            <div ng-show="authStep===3">
                <div class="submenu clearfix">
                    <ul class="clearfix">
                        <li><a ng-click="conditionalNavBack()" class="back-button active"></a></li>
                    </ul>
                </div>
                <div class="auth-code">
                    <h3>Activate your new device</h3>
                    <span class="sm">Enter your activation code</span>
                    <input type='text' placeholder='' ng-model="userActivationCode" ng-maxlength="20" ng-minlength="5" />
                </div>
                <button class="btn btn-primary" ng-click="authStep=4;userAuthPinEnter='';userAuthPinConfirm='';userAuthPinEnterChars='';userAuthPinConfirmChars='';"  ng-disabled="userActivationCode.length < 5">Next</button>
            </div>
            
            <!-- LOGIN OR CHOOSE PIN -->
            <div ng-show="authStep===4">
                <div class="submenu clearfix" ng-show="!deviceAuthenticated()">
                    <ul class="clearfix">
                        <li><a ng-click="authStep=3;" class="back-button active"></a></li>
                    </ul>
                </div>
                <div class="pin-number" ng-show="deviceAuthenticated()">
                    <!-- <h1 class="app-name">{{getLocalStorage('clientName')}}</h1> -->
                    <img class="app-logo" ng-src="img/clients/{{logoGraphicName()}}.svg"/>
                    <h3>Welcome back, {{getLocalStorage('userName')}}</h3>
                    <span class="sm">Enter your pin number</span>
                    <input type="number" pattern="[0-9]*" ng-model="userAuthPin"  autocomplete="off"   autofocus="autofocus" optic-numeric-limit="4" optic-numeric-string="userAuthPinChars"  />
                    
                    
                </div>
                
                <div class="pin-number" ng-show="!deviceAuthenticated()">
                    <h3>Create a 4 digit Pin Code</h3>
                    <span class="sm">Enter a pin number</span>
                    <input type="number" pattern="[0-9]*" ng-model="userAuthPinEnter" autocomplete="off" autofocus="autofocus" optic-numeric-limit="4" optic-numeric-string="userAuthPinEnterChars"/>
                </div>
                <div class="pin-number" ng-show="!deviceAuthenticated()">
                    <span class="sm">Verify your pin number</span>
                    <input type="number" pattern="[0-9]*" ng-model="userAuthPinConfirm"  autocomplete="off"  optic-numeric-limit="4" optic-numeric-string="userAuthPinConfirmChars" />
                    
                </div>
                
                <div>
                    <button class="btn btn-primary" ng-click="login()" ng-disabled="(pinsIncomplete() && !deviceAuthenticated()) || loggingIn">
                        <span ng-show="!loggingIn">Login</span>
                        <span ng-show="loggingIn">Logging in...</span>
                    </button>
                </div>
                
                <div class="alert">{{errorMessage}}</div>
            </div>
            
            <!-- HIPAA -->
            <div ng-show="authStep===5 && deviceAuthenticated() && hipaaRequired()">
                <div class="hipaa">
                    <div class="i-agree">
                        <button class="btn btn-primary" ng-click="hipaaAccept('/')">OK</button>
                    </div>
                    <div class="" ng-include="'js/dashboard/views/hipaa-agreement.html'"></div>
                </div>
            </div>
            
            <!-- CONSENT TO CARE -->
            <div ng-show="authStep===6">
                <div class="npp">
                    <div class="i-agree">
                        <button class="btn btn-primary" ng-click="nppAccept('/')">I Agree</button>
                    </div>
                    <div class="care-consent" ng-include="'js/dashboard/views/careconsentnotice.html'"></div>
                    
                </div>
            </div>
            <div class="copyright" ng-show="authStep===1 || (authStep===4 && deviceAuthenticated())">
                ©{{ todaydate | date:'yyyy'}} Premise Health. Designed with love in Nashville, Tennessee. <br/>Read our <a href="#/privacy">Privacy Policy</a> and <a href="#/terms">Terms of Use</a>
                <div class="version">
                    v{{config.version}}
                </div>
                <div ng-show="deviceAuthenticated()">
                    <button ng-click="reset()" class="btn btn-default btn-reset">Reset Device</button>
                </div>
            </div>
        </div>
    </div>
    
    <div overlay="lockoutWarn">
        <h1><i class="fa fa-exclamation-o fa-3x"></i></h1>
        <h4 class="overlay-title">Lockout Warning</h4>
        <p>
        You have entered a number of incorrect pins, if you enter another incorrect pin your device will be reset and you will have to re-authorize it.
        </p>
        <p bubble>
        <span class="btn btn-default" ng-click="dismissLockoutWarnDialog()">OK</span>
        </p>
    </div>
    
</div>
