<div class="col-lg-6">
    <div class="bio">
        <h3>// JV Market</h3>
        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
    </div>
    <ul class="bioextra">
        <li>
            <strong>Call</strong>
            <i>+1 566 - 155 - 1235 &nbsp;&nbsp;/&nbsp;&nbsp; +1 919 - 341 - 0331</i>
        </li>
        <li>
            <strong>Address 1</strong>
            <i>1601 S. Main St. </i>
        </li>
        <li>
            <strong>Address 2</strong>
            <i>St Louis, MO 63101. US</i>
        </li>
    </ul>
</div>
                               