<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- STYLE CSS -->
<link href="css/styles.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->

<!-- END Navbar -->
<!-- BEGIN Header -->

<!-- END Header -->
<!-- BEGIN Post -->
<section class="post-wrapper">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <article class="post">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1 class="post-title">
                                    <a class="hovercolor" href="blog-post.html">Welcome to Memandang</a>
                                </h1>
                            </div>
                            <div class="col-lg-6">
                                <time class="post_date" datetime="2015-10-18">
                                    October 18, 2015
                                </time>
                            </div>
                        </div>
                        <div class="post_excerpt">
                            Lobortis laoreet, neque nunc suscipit orci, id ultrices nulla enim ac orci. Proin a erat at mi ornare interdum. Donec sagittis, felis at rutrum egestas, orci [...] <a href="blog-post.html" class="hovercolor readmore">Read More</a>
                        </div>
                    </div>
                </article>
                <article class="post">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1 class="post-title">
                                    <a class="hovercolor" href="blog-post.html">[Laugh] Do i know you Buddy?</a>
                                </h1>
                            </div>
                            <div class="col-lg-6">
                                <time class="post_date" datetime="2015-10-18">
                                    November 22, 2015
                                </time>
                            </div>
                        </div>
                        <div class="post_excerpt">
                            Etiam enim metus, luctus in adipiscing at, consectetur quis sapien. Duis imperdiet egestas ligula, quis hendrerit ipsum ullamcorper et. Phasellus id tristique orci. Proin consequat mi at felis scelerisque ullamcorper. Etiam tempus, felis vel eleif [...] <a href="blog-post.html" class="hovercolor readmore">Read More</a>
                        </div>
                    </div>
                </article>
                <article class="post">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1 class="post-title">
                                    <a class="hovercolor" href="blog-post.html">Wow, simply Beautifully!</a>
                                </h1>
                            </div>
                            <div class="col-lg-6">
                                <time class="post_date" datetime="2015-10-18">
                                    December 15, 2015
                                </time>
                            </div>
                        </div>
                        <div class="post_excerpt">
                            Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus au [...] <a href="blog-post.html" class="hovercolor readmore">Read More</a>
                        </div>
                    </div>
                </article>

                <!--<div class="pagination">
                    <a href="javascript:;" class="page gradient">first</a><a href="javascript:;" class="page gradient"><i class="icon-angle-left"></i></a><a href="javascript:;" class="page gradient">3</a>
                    <span class="page active">4</span><a href="javascript:;" class="page gradient">5</a><a href="javascript:;" class="page gradient"><i class="icon-angle-right"></i></a><a href="javascript:;" class="page gradient">last</a>
                </div>-->

            
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact" style="background:url('images/contact-background.jpg');">
    <a href="#register-form"></a>
    <div class="contact-wrapper">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="contact-slider">

                            <!-- Contact details -->
                            <div class="row">
                                <div class="col-lg-3">
                                    &nbsp;
                                </div>
                                <ng-include src="'js/views/contactSide.html'"></ng-include>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="javascript:;"><i class="icon-facebook icon-social button-white-side"></i></a>
                                    <a href="javascript:;"><i class="icon-google-plus icon-social button-white-side"></i></a>
                                    <a href="javascript:;"><i class="icon-dribbble icon-social button-white-side"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="credits">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title">MADE BY <a class="hovercolor" href="http://csiportals.com">CSI PORTALS</a> &copy;&nbsp;2015.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title-link">
                                <a class="hovercolor" href="javascript:;">Contact</a> / <a class="hovercolor" href="javascript:;">Press</a> / <a class="hovercolor" href="blog.html">Blog</a> / <a class="hovercolor" href="javascript:;">Terms</a>
                            </p>
                        </div>
                    </div>
                    <div class="scroll-up">
                        <a href="#home-slide"><i class="icon-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Post -->
