
<section class="intro">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="grey text-center">Purchase access to JV Matchup</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact" style="background:url('images/contact-background.jpg');">
    <a href="#register-form"></a>
    <div class="contact-wrapper">
        <div class="container">
            <div class="wrapper">
                <form class="contact-form" ng-submit="submitPurchaseForm()" novalidate="" id="contactForm">
                    <div class="row">
                        <!--<div class="col-lg-2">
                            <div class="bio"><h3>Affiliate</h3></div>
                            <p>
                                Do so many fun things as an affiliate
                            </p>
                            <input type="checkbox" ng-model="user.Affiliate" />
                            <br /><br />
                            <div class="bio"><h3>Marketer</h3></div>
                            <i class="fa fa-check  fa-3"></i>
                            <p>
                                Do so many fun things as a marketer
                            </p>
                            <input type="checkbox" ng-model="user.Marketer" />
                            <br/><br />
                            <button class="button button-white-side">Sign up</button>
                        </div>-->

                        <div class="col-lg-10">
                            <div id="contact-slider">

                                <!-- Contact details -->
                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" placeholder="Your First Name" ng-model="card.FirstName">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" placeholder="Your Last Name" ng-model="card.LastName">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" placeholder="CreditCard" ng-model="card.CC">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="date" class="form-control" placeholder="Expiration" ng-model="card.Expiration">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="Street Address" ng-model="card.Address1">
                                                </div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="Street Address" ng-model="card.Address2">
                                                </div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="City" ng-model="card.City">
                                                </div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="State" ng-model="card.State">
                                                </div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="Zip Code" ng-model="card.Zip">
                                                </div>
                                                <div class="col-lg-12">
                                                    <input type="text" ui-mask="(999) 999-9999" class="form-control" placeholder="Phone (111) 111-1111" ng-model="user.PhoneNumber">
                                                </div>
                                                <br /><br />
                                                <button class="button button-white-side">Purchase</button>
                                               
                                             
                                                <br />
                                                <span ng-show="payConfirm">{{payConfirm}}</span>
                                                <span ng-show="errorNumber">{{errorNumber}}</span>
                                                <span ng-show="errorAddress">{{errorAddress}}</span>
                                                <span ng-show="errorEmail">{{errorEmail}}</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-12">
                                        <ng-include src="'js/views/contactSide.html'"></ng-include>
                                        <ng-include src="'js/views/socialFooter.html'"></ng-include>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="credits">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title">MADE BY <a class="hovercolor" href="http://csiportals.com">CSI PORTALS</a> &copy;&nbsp;2015.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="credits-title-link">
                                <a class="hovercolor" href="javascript:;">Contact</a> / <a class="hovercolor" href="javascript:;">Press</a> / <a class="hovercolor" href="blog.html">Blog</a> / <a class="hovercolor" href="javascript:;">Terms</a>
                            </p>
                        </div>
                    </div>
                    <div class="scroll-up">
                        <a href="#home-slide"><i class="icon-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

