<form class="contact-form" ng-submit="submitRegisterForm()" novalidate="" id="contactForm">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Your First Name" ng-model="user.FirstName">
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Your Last Name" ng-model="user.LastName">
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Email" ng-model="user.Email">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <input type="text" class="form-control" placeholder="User name" ng-model="user.UserName">
            </div>
            <div class="col-lg-12">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.Password">
            </div>
            <div class="col-lg-12">
                <input type="password" class="form-control" placeholder="Confirm password" ng-model="user.ConfirmPassword">
            </div>

            <button class="button button-white-side">Sign up</button>
            <br />
            <span ng-show="createConfirm">{{createConfirm}}</span>
            <span ng-show="errorPassword">{{errorPassword}}</span>
            <span ng-show="errorUserName">{{errorUserName}}</span>
            <span ng-show="errorEmail">{{errorEmail}}</span>
        </div>
    </div>
</form>
