
<br />
<h2 id="safePlace">Programs</h2>
<div  ng-repeat="p in resources.unlockedPrograms">
    <div class="col-lg-12">
        <div class="post_excerpt">
            <div class="row">
                <div class="col-lg-6">
                    <br />
                    <h2 class="post-title">
                        {{p.ProgramName}}
                    </h2>
                    <br />
                    {{p.ProgramDescription}}
                    <br />
                    <br />
                    {{p.ProgramUrl}}
                    <br />
                    <br />
                    Created: {{p.CreatedDate}}
                    <div class="row">
                        <div class="col-lg-6">
                            <em>
                                Program Contact: {{p.CreatorFullName}}<br />
                                Skype Contact: {{p.CreatorSkypeHandle}}<br />
                                Phone: {{p.CreatorPhoneNumber}}
                            </em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<h2>Affiliates</h2>
<div ng-repeat="a in resources.unlockedAffiliates">
    <br />
    <div class="col-lg-12">
        <div class="post_excerpt">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="post-title">
                        {{a.FirstName}}&nbsp;{{a.LastName}}&nbsp;(<uib-rating ng-model="a.AvgRating" max="max" readonly="true" aria-labelledby="default-rating"></uib-rating>)
                    </h2>
                    <br />
                    {{a.IndividualDescription}}
                    <br />
                    <br />
                </div>
                <div class="col-lg-6">
                    <h2 class="post-title">
                        Rate&nbsp;{{a.FirstName}}
                    </h2>
                    <uib-rating ng-model="a.MyRating" max="max" readonly="isReadonly" on-hover="hoveringOver(value, $index)" on-leave="updateRating(a.MyRating, a.UserId)"  aria-labelledby="default-rating"></uib-rating>
                    <!--<span class="label" ng-class="{'label-warning': percent[$index]<30, 'label-info': percent[$index]>=30 && percent[$index]<70, 'label-success': percent[$index]>=70}" ng-show="percent[$index]>=0">{{quality}}</span>-->
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <em>
                        Name: {{a.FirstName}}&nbsp;{{a.LastName}}<br />
                        Skype Contact: {{a.SkypeHandle}}<br />
                        Email: {{a.Email}}<br />
                        Phone: {{a.Phone}}
                    </em>

                </div>
            </div>
        </div>
    </div>

</div>
