<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <!--<extensions>
    <add assembly="OpticLogger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </extensions>-->
  <targets>
    <target name="f1" xsi:type="File"  fileName="c:/d/jvmarket/${logger}.txt"/>
  </targets>
  <rules>
    <logger name="*" minlevel="info" writeTo="f1"/>
  </rules>
</nlog>